:9000
reverse_proxy {
	# Set ip-addresses here
	to 192.168.178.47:8080
	to 192.168.178.48:8080
	to 192.168.178.49:8080

	lb_policy round_robin

	health_uri /v1/health
	health_status 200
	health_interval 30s
	health_timeout 10s
}
