version: "3.8"
services:
    server:
        build: ./server
        container_name: server
        environment:
            - DATABASE_ADDRESS=10.5.0.6
        ports:
            - 8080:8080
        depends_on:
            - db
        networks:
            net:
                ipv4_address: 10.5.0.5

    db:
        image: yugabytedb/yugabyte:latest
        container_name: db
        command: >
            bin/yugabyted start --use_cassandra_authentication true --ui true --daemon false
        environment:
            - YCQL_USER=cassandra
            - YCQL_PASSWORD=cassandra
        ports:
            - 5433:5433
            - 7000:7000
            - 9000:9000
            - 9042:9042
            - 15433:15433

networks:
    net:
        driver: bridge
        ipam:
            config:
                - subnet: 10.5.0.0/16
                  gateway: 10.5.0.1
