version: "3.8"
services:
    server:
        build: .
        container_name: server
        environment:
            - DATABASE_ADDRESS=192.168.178.47
        network_mode: host
        depends_on:
            - yb-tserver
            - yb-master
        restart: always

    yb-master:
        image: yugabytedb/yugabyte:latest
        container_name: yb-master
        restart: always
        command: >
            ./bin/yb-master 
            --master_addresses 192.168.178.47:7100,192.168.178.48:7100,192.168.178.49:7100 
            --rpc_bind_addresses 192.168.178.47:7100
            --fs_data_dirs "/home/yugabyte/yb_data" 
            --placement_cloud private
            --placement_region raspi1
            --placement_zone node1
            --replication_factor=3
            --logtostderr=true
        volumes:
            - ./yb-master:/home/yugabyte/yb_data
        environment:
            - YCQL_USER=cassandra
            - YCQL_PASSWORD=cassandra
        network_mode: host

    yb-tserver:
        image: yugabytedb/yugabyte:latest
        container_name: yb-tserver
        restart: always
        command: >
            ./bin/yb-tserver 
            --tserver_master_addrs 192.168.178.47:7100,192.168.178.48:7100,192.168.178.49:7100 
            --rpc_bind_addresses 192.168.178.47:9100 
            --server_broadcast_addresses 192.168.178.47:9100
            --cql_proxy_bind_address 192.168.178.47:9042
            --placement_cloud private
            --placement_region raspi1
            --placement_zone node1
            --fs_data_dirs "/home/yugabyte/yb_data"
        volumes:
            - ./yb-tserver:/home/yugabyte/yb_data
        environment:
            - YCQL_USER=cassandra
            - YCQL_PASSWORD=cassandra
        network_mode: host
